@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação apagar usuário";
}

<div class="text-center">
    <h3 class="display-7">Realmente deseja apagar o usuário (@Model.Nome) ?</h3>
</div>

<a class="btn btn-primary d-block w-100" role="button" asp-controller="Usuario" asp-action="Index">Cancelar exclusão</a>
<br />
<a class="btn btn-danger d-block w-100" asp-controller="Usuario" asp-action="Apagar" asp-route-id="@Model.Id" role="button">Confirmar exclusão</a>

